{% extends 'header.html' %}
{% block body %}
{% load static %}
<div class="container-fluid">
    <div class="card mb-4">
         <div class="card-body">
            <div class="col-lg-12">
                <div class="card-body mx-auto shadow mb-4" style="max-width: 600px;">
                    <h4 class="page-header" style="color:red">Delete Confirmation </h4>
                    <span style="color:red;font-size:16px;display:block">Are you really want to Delete This ?</span>
                    <div class="row" style="margin-top:30px">
                        <div class="col-md-12">
                            <h3> {{ object.party_name }} </h3>
                        </div>
                    </div>
                    <div class="row" style="margin-top:30px">
                        <div class="col-md-12">
                            <form action="" method="post" id="delete">
                                {% csrf_token %}
                                <input type="submit" value="Delete"  class="btn btn-danger btn btn-raised" />
                                <a href="javascript:window.history.back()" class="btn btn-raised btn-primary">Cancel</a>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="{%static 'js/jquery-ui.js' %}"></script>
<script type="text/javascript">
$(document).ready(function() {
    //autofoucus
    $('#id_name').focus();
});


$('#delete').submit(function(e){
     $("#status").show(); // will first fade out the loading animation
     $("#preloader").show(); // will fade out the white DIV that covers the website.
     $('#message').html("<p>Loading Please wait.... Deletion may take some time.</p>")
    
});
</script>
{% endblock %}
