{% extends 'header.html' %}
{% block body %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">

	<link href="{% static 'vendor/datatables/dataTables.bootstrap4.min.css' %}" rel="stylesheet">
	<link href="{% static 'css/sb-admin-2.min.css' %}" rel="stylesheet">
  
</head>
<body>
<!-- Begin Page Content -->
<div class="container-fluid mt-4">
  <div class="page-header">      
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Dashboard</a></li>
      <li class="breadcrumb-item active">View New trips</li>
    </ol>
    </div>
      
       <!-- DataTales Example -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">In Process Trips</h6>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>Location</th>
                      <th>Name</th>
                      <th>Date</th>
                      <th>Price</th>
                      <th>Childrens</th>
                      <th>Person</th>
                      <th>Payment Mode</th>
                      <th>Total</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  
                  <tbody>
                    {% for i in object_list %}
                    <tr>
                      <td>{{i.pid.plocation | title}}</td>
                      <td>{{i.bcname | title}}</td>
                      <td>{{i.bfrom_date}}-{{i.to_date}}</td>
                      <td>{{i.btripprice}}</td>
                      <td>{{i.bchildren}}</td>
                      <td>{{i.bperson}}</td>
                      <td>{{i.bpaymentmethod}}</td>
                      <td>{{i.btotalprice}}</td>
                      <td><a href="{% url 'inProcess' i.slug %}" class="btn btn-sm btn-warning" onclick="return confirm('{{i.bcname | title}} trips move to process mode')"></i>Process</a></td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>

  </div>
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
{% endblock %}
</body>
</html>

 



 