{% load static %}
<html>
    <body class="bg-light">
      <head></head>
      <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
 
  <!-- Custom styles for this template-->
  <link href="{% static 'css/sb-admin-2.min.css' %}" rel="stylesheet">
  <link href="{% static 'css/other.css' %}" rel="stylesheet">
      
      <nav class="navbar navbar-expand-lg navbar-light bg-primary">
        <a class="navbar-brand text-white">Logged out successfully</a>
      </nav>
      <span class="nav-link active">
        <a  href="{% url 'login' %}">Login Again</a>
      </span>     
    </body>
</html>
